*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-blue{
  color: #0A033C !important;
}

.bg-blue{
background: #0A033C !important;
}

.icon{
  width: 35px;
  height: 35px;
  mix-blend-mode: multiply;
  object-fit: contain;
}